/*
#319db5
#2E73AB
*/

::-moz-selection {
    color: #fff;
    background: #319db5
}

::selection {
    color: #fff;
    background: #319db5
}

.btn-col, .project-details h5, .project-info h5 {
    border-color: #319db5;
    color: #319db5
}

.btn-col:hover {
    color: #2E73AB
}

.section-title h3, .section-title h4, .step-no, .sub-steps .icon, .sub-steps .sub-text, .testimonial .happy-client, .client-photos .photo-hold {
    border-color: #319db5
}

.color-scheme, .service-icon, .step-no .no-inner, .site-name:hover, .project-details .details-list li .strong, .social-icons ul li a:hover {
    color: #319db5
}

.site-name span, .photo-overlay h4 {
    background-color: #319db5
}

.nicescroll-cursors {
    background-color: #D4D4D4 !important
}

.photo-zoom:before {
    border-color: rgba(0, 255, 255, 0) rgba(255, 0, 255, 0) rgba(49, 157, 181, 1) rgba(255, 255, 10, 0)
}